<template>
<section>
    <input v-model='serviceName' /> <input v-model='serviceVersion' />

    <div v-for='service in activeServices' >
      <h3>{{service.name}}</h3>
      <li v-for='version in service.versions' :key='`${version}-li`' >{{version}}</li>

      <div v-for='version in service.versions' :key='version' >
        <h4>{{service.version}}</h4>
        <div>
          <strong>Git</strong>: {{gitBranch(version)}}<br/>
          <strong>Docker</strong>: {{org}}/{{service.name}}:{{version}}<br/>
          <strong>Url:</strong> http://{{service.name}}.{{tld}}/{{urlPath(version)}}<br/>
          <strong>Url:</strong> http://{{service.name}}-{{urlPath(version)}}.{{tld}}<br/>
          <strong>K8s serviceName:</strong>{{k8sServiceName(service.name, version)}}<br/>
        </div>
        <hr/>
      </div>
    </div>
    <code>
# SERVICE
apiVersion: v1
kind: Service
metadata:
  name: {{serviceName}}
  namespace: staging
  labels:
    run: {{serviceName}}
spec:
  type: ClusterIP
  ports:
  - port: 80
  selector:
    run: {{serviceName}}
---
# DEPLOYMENT
apiVersion: apps/v1 # for versions before 1.8.0 use apps/v1beta1
kind: Deployment
metadata:
  name: {{serviceName}}
  namespace: staging
  labels:
    run: {{serviceName}}
spec:
  replicas: 1
  selector:
    matchLabels:
      run: {{serviceName}}
  template:
    metadata:
      labels:
        run: {{serviceName}}
    spec:
      containers:
      - name: aex-qb-sync
        image: vumatel/aex-qb-sync:latest
        imagePullPolicy: Always
        command:
          - sh
          - /code/run.sh
        env:
          - name: TIMESTAMP
            value: "2018-07-25T11:33:49Z"
      - name: aex-qb-syncworker
        image: vumatel/aex-qb-sync:latest
        imagePullPolicy: Always
        command:
          - sh
          - /code/worker.sh
        env:
          - name: TIMESTAMP
            value: "2018-07-25T11:33:49Z"
      imagePullSecrets:
          - name: regcred
    </code>
  </section>
</template>

<script>
export default {
  name: 'KubeConfig',
  data () {
    return {
      tld: 'example.com',
      org: 'example',
      serviceName: 'helloservice',
      serviceVersion: 'latest',
      activeServices: [
        { name: 'helloservice', versions: ['latest', 'v1', 'my-shiny-feature'] }
      ]
    }
  },
  methods: {
    gitBranch (version) {
      if (version === 'latest') { return 'master' }
      return version
    },
    urlPath (version) {
      if (version === 'latest') { return '' }
      return version
    },
    k8sServiceName (service, version) {
      if (version === 'latest') { return service }
      return service + '-' + version
    }
  }
}
</script>

<style>

</style
